<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style media="screen">
    </style>
    <title></title>
  </head>
  <body>
    <h1 class="text-uppercase">KỲ THI TỐT NGHIỆP TRUNG HỌC PHỔ THÔNG NĂM 2017</h1>
    <h1>Môn thi: HÓA HỌC</h1>
    <p><strong>Câu 10:</strong> Hai chất nào sau đây đều là hiđroxit lưỡng tính?</p>
    <p>A. Ba(OH)<sub>2</sub> và Fe(OH)<sub>3</sub></p>
    <p>B. Cr(OH)<sub>3</sub> và Al(OH)<sub>3</sub></p>
    <p>C. Na(OH)<sub>2</sub> và Al(OH)<sub>3</sub></p>
    <p>D. Ca(OH)<sub>2</sub> và Cr(OH)<sub>3</sub></p>

  </body>
</html>
