<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DEMO BAI 3</title>
<style>
  div {
    border: 3px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
    background-color: green;
  }
</style>
</head>
<body>
  <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DEMO BAI 3</title>
<style>
  div {
    border: 3px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;

  }
  div p {
    background: #66CC00;
    padding: 20px 0 0 0;
}
</style>
</head>
<body>
<div>"Today is hard , tomorrow is much more harder but the day after tomorrow is beautiful"JackMa     </div>


  </body>
</html>



  </body>
</html>
